* {
      box-sizing: border-box;
      margin:0;
      padding:0;
      font-family: 'PT Sans', sans-serif;
}

a {
      text-decoration: none;

      &:visited {
            color: inherit;
      }
}

ul {
      list-style: none;
}

button {
      padding: 8px 20px;
      border-radius:4px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
       border:none;
      }
}

.hide {
      visibility:hidden;
}

