@mixin flexBox($orientation, $posAlign, $posJustify) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: $orientation;
      flex-direction: $orientation;
      -webkit-box-align: $posAlign;
      -ms-flex-align: $posAlign;
      align-items: $posAlign;
      -webkit-box-pack: $posJustify;
      -ms-flex-pack: $posJustify;
      justify-content: $posJustify;
    }

    %fullSize {
      width: 100%;
      height: 100%;
    }