/* COLORS*/
$c-white: #fff;
$c-cello: #122336;
$c-bermuda: #66d9c0;
$c-cornflowerBlue: #577ef2;
$c-red: #f00946;
$c-astral:#3574b8;

/* SPACES */
$s-primaryXxS: 4px;
$s-primaryXS: 6px;
$s-primaryS: 8px;
$s-primaryM: 10px;
$s-primaryL: 12px;
$s-primaryXL: 14px;
$s-primaryXXL: 16px;
$s-secondaryXXS: 18px;
$s-secondaryXS: 20px;
$s-secondaryS: 22px;
$s-secondaryM: 30px;
$s-secondaryL: 40px;
$s-secondaryXL: 50px;
$s-secondaryXXL: 60px;
$s-largeXXS: 80px;
$s-largeXS: 100px;
$s-largeS: 120px;
$s-largeM: 140px;

/*** Break Lines ***/
$b-xlScreen: 1600px;
$b-xsScreen: 950px;
$b-ipadMini: 768px;
$b-largeMobileScreen: 478px;
$b-mediumMobileScreen: 428px;