.contactWrapper {
  perspective: 1000px;
  min-height: 100vh;
  @include flexBox(row, center, center);
  background: #fafafa;
}

.contact {
  width: 80%;
  @include flexBox(row, center, center);
  margin: 0 auto;
  height: 100vh;

  &__card {
    transform-style: preserve-3d;
    min-height: 60vh;
    width: 28rem;
    border-radius: $s-secondaryM;
    padding: 0rem 5rem;
    box-shadow: 0 $s-secondaryXS $s-secondaryXS rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    @include flexBox(column, center, center);

    .contact__section {
      min-height: 40%;
      width: 100%;
      position: relative;
      @include flexBox(column, center, center);
      margin: 3rem 0 0 0;

      .contact__section--circle {
        position: absolute;
        top: 0;
        left: 6rem;
        width: 130px;
        height: 130px;
        z-index: -1;
        background: linear-gradient(to right, #c5d0f1, #2967ab);
        border-radius: 50%;
      }

      .contact__section--image {
        width: 150px;
        height: 150px;
        position: relative;
        top: -2rem;
        left: 0.5rem;
        background: url("../../../../assets/contact.svg");
        background-position: center;
        z-index: 1;
        transition: 0.5s ease;
      }
    }

    .contact__body {
      min-height: 60%;
      width: 100%;
      padding: 0 2rem;

      h1 {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        transition: 0.5s ease;
      }

      p {
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 0.7rem;
        padding: $s-primaryXS;
        color: #111;
      }

      .contact__body--options {
        margin: $s-primaryM 0;
        @include flexBox(row, center, center);

        button {
          border: none;
          background: transparent;
          border-radius: 13px;
          margin: 0 1rem;
          padding: $s-primaryXS $s-primaryS;
          min-width: 70px;
          color: #232323;
          box-shadow: 0 0 $s-secondaryXS rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);

          &:hover {
            transition: 0.5s ease-out;
            transform: translateY(-5px);
          }
        }

        button.active {
          background: #577ef2;
          color: #fafafa;
        }
      }

      .contact__body--contact {
        @include flexBox(column, center, center);
        margin: 1.2rem 0;

        .contact__body--contactButton {
          width: 100%;
          @include flexBox(column, center, center);
          margin-top: 1rem;
          transition: 0.5s ease;
        }

        button {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: $b-ipadMini) {
  div.contact {
    width: 100%;

    .contact__card {
      box-shadow: none;
      width: 100%;
      min-height: 100vh;

      .contact__section--circle {
        display: none;
      }

      .contact__section--image {
        background: none;
        width: 300px;
        height: 350px;
      }
    }

    .contact__body {
      transform: translateY(-80px);
      @include flexBox(column, center, center);
      text-align: center;

      .contact__body--contact {
        div:first-of-type {
          width: 300px;
        }
      }

      .contact__body--contactButton {
        button {
          box-shadow: 0 0 $s-secondaryXS rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
        }
      }

      .contact__body--heading {
        margin: 3rem 0;
      }

      p {
        font-size: 1.1rem;
      }

      h1 {
        font-size: 2rem;
        white-space: nowrap;
      }

      .contact__body--options button {
        min-width: 88px;
        height: $s-secondaryL;
        border-radius: $s-secondaryXS;
      }
    }
  }
}

@media only screen and (max-width: $b-ipadMini) {
  .contactWrapper {
    transform: translateY(-$s-secondaryXXL);
  }
  div.contact__card {
    .contact__section .contact__section--image {
      display: none;
    }

    .contact__body {
      width: 100%;
      padding: auto;

      p {
        width: 270px;
      }

      .contact__body--contact div:first-of-type {
        width: 270px;
      }

      .contact__body--contactButton button {
        height: 53px;
        width: 270px;
        font-size: 1.2rem;
      }

      .contact__body--options {
        flex-direction: column;
        button {
          margin: 1rem;
          min-width: 170px;
          font-size: 1.2rem;
        }
      }
      h1 {
        white-space: break-spaces;
      }
    }
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  div.contact {
    width: 100%;
    transform: translateY(-$s-largeXS);

    .contact__card {
      box-shadow: none;
      width: 100%;
      min-height: 100vh;

      .contact__section--circle {
        display: none;
      }

      .contact__section--image {
        display: none;
      }
    }

    .contact__body {
      transform: translateY(-80px);
      @include flexBox(column, center, center);
      text-align: center;

      .contact__body--contact {
        div:first-of-type {
          width: 300px;
        }
      }

      .contact__body--contactButton {
        button {
          box-shadow: 0 0 $s-secondaryXS rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
        }
      }

      .contact__body--heading {
        margin: 3rem 0;
      }

      p {
        font-size: 1.1rem;
      }

      h1 {
        font-size: 2rem;
        white-space: nowrap;
      }

      .contact__body--options button {
        min-width: 88px;
        height: $s-secondaryL;
        border-radius: $s-secondaryXS;
      }
    }
  }
}
