.footer {
  background-color: #1c2237;
  color: $c-white;
  @include flexBox(column, center, center);

  &__upper {
    width: 50%;
    text-align: center;
    min-height: 200px;
    margin-top: $s-secondaryL;

    .footer__info {
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
        padding: $s-primaryS;
      }
    }

    .footer__form {
      @include flexBox(column, center, center);

      button {
        width: 40%;
      }
    }
  }

  &__center {
    @include flexBox(row, center, center);
    width: 80%;
    min-height: 200px;

    .footer__col {
      margin: $s-primaryL $s-secondaryL;
      height: 100%;
      text-align: center;

      h4 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  &__bottom {
    width: 100%;
    @include flexBox(row, center, center);
    font-size: 2rem;
    padding: $s-primaryL;

    &--media span {
      padding: $s-primaryL $s-primaryL;

      svg {
        transition: all 0.5s ease-in-out;
      }
      svg:hover {
        color: $c-cornflowerBlue;
        transform: translateY(-7px);
      }
    }

    div {
      margin: 0 $s-secondaryM;
    }

    .header__logo--icon {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: $b-xsScreen) {
  .footer {
    .footer__center .footer__col {
      h4 {
        font-size: 1rem;
        padding: $s-primaryL;
      }

      p {
        font-size: 0.7rem;
      }
    }

    .footer__form {
      button {
        width: 70%;
      }
    }

    .footer__bottom,
    .header__logo--icon {
      font-size: 1.3rem;

      .footer__bottom--media span {
        padding: $s-primaryS;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer .footer__center {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;

    .footer__col {
      min-width: 50%;
      margin: $s-primaryL 0;

      h4 {
        font-size: 1.1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .footer .footer__bottom,
  .footer .header__logo--icon {
    font-size: 1rem;
  }
  .footer .footer__bottom {
    flex-direction: column;
    margin-top: $s-primaryM;
  }

  .footer .footer__form button {
    width: 90%;
  }

  .footer__bottom div {
    margin: $s-primaryS $s-secondaryXS;
  }

  .footer__upper {
    width: 80%;
  }

  .footer .footer__bottom .footer__bottom--media span {
    svg {
      font-size: 1rem;
    }
  }
}

