.animation {
  height: 100vh;
  background: $c-cello;
}

.animateObj {
  visibility: hidden;
}

.frame {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 2px solid $c-white;
  text-align: center;
  visibility: hidden;

  span {
    font-weight: 800;
    color: $c-white;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
    font-size: 1.5rem;
    position: relative;
    top: 3rem;
    text-shadow: 1px 1px 1px #6854cc, 1px 2px 1px #6854cc, 1px 3px 1px #6854cc,
      1px 4px 1px #6854cc, 1px 5px 1px #6854cc;
  }

  strong {
    color: $c-astral;
  }
}
