.header {
  width: 100%;
  height: $s-largeXXS;
  @include flexBox(row, center, center);
  background-color: $c-cello;
  position: relative;

  &--container {
    @extend %fullSize;

    .header__left {
      width: 30%;
      height: 100%;
      position: absolute;
      top: $s-secondaryXS;
      left: $s-secondaryXS;

      a,
      i {
        color: $c-white;
        font-size: 1.7rem;
      }
    }

    .header__right {
      width: 70%;
      height: 100%;
      @include flexBox(row, center, flex-end);
      position: absolute;
      top: 0;
      right: $s-secondaryXS;

      .header__menuIcon {
        position: absolute;
        right: $s-primaryM;
        top: $s-secondaryXS;

        .header__menuIcon--bars {
          font-size: 2.5rem;
        }

        .close {
          z-index: 1;
        }
      }

      .header__menu {
        width: 80%;
        @include flexBox(row, center, flex-end);

        li {
          padding: 0 $s-secondaryXS;
          font-weight: 600;

          a {
            color: $c-white;
            font-size: 1.3rem;

            &:hover {
              color: $c-bermuda;
            }
          }
        }
      }

      .header__menu.active {
        flex-direction: column;
        justify-content: flex-start;
        background-color: $c-cello;
        min-width: 100.5vw;
        height: 100vh;
        position: absolute;
        top: 4rem;
        left: 1rem;
        z-index: 10;

        li {
          margin: $s-secondaryM;
          width: 100%;
          text-align: center;
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 969px) {
  .header--container .header__right {
    position: relative;

    .header__menuIcon .close {
      position: relative;
      right: -9rem;
    }
    .header__menuIcon--bars {
      position: relative;
      right: -13rem;
    }
  }
}

@media only screen and (max-width: $b-mediumMobileScreen) {
  div.header .header--container {
    .header__right .header__menuIcon--bars {
      right: -7rem;
    }

    .header__left a {
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .header--container .header__right .header__menu.active {
    height: 115vh;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .header--container .header__right .header__menu.active {
    height: 150vh;
  }
}
