.heroSection, .section {
  padding: 160px 0;

  .heroSection__row, .section__row {
    align-items: center;
    margin-left: 20px;

    .heroSection__imgWrapper, .section__imgWrapper {
      max-width: 555px;

      svg {
        max-width:100%;
      }


      img {
        max-width: 95%;
        margin: 0 0 0 10px;
        padding-right: 0;
        border: 0;
        vertical-align: middle;
        display: inline-block;

        visibility:hidden;
      }
    }
  }

  .heroSection__col, .section__col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
    visibility:hidden;

    .heroSection__col--textWrapper, .section__col--textWrapper {
      max-width: 540px;
      padding-top: 0;
      padding-bottom: 60px;

      .heroSection__col--topline, .section__col--topline {
        color: $c-red;
        font-size: 1rem;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      .heroSection__col--heading,.section__col--heading {
        margin-bottom: 24px;
        font-size: 3rem;
        line-height: 1.1;
        font-weight: 600;
      }

      .heroSection__col--descr,.section__descr, .section__col--textWrapper div:nth-child(2) {
        max-width: 440px;
        margin-bottom: 35px;
        font-size: 1.2rem;
        line-height: 24px;
      }

      .descrEffect {
        margin-bottom:15px;
      }
    }
  }
}

@media only screen and (max-width: $b-ipadMini) {
  .heroSection .heroSection__row,
  .section .section__row {
    flex-wrap: wrap;
    .heroSection__col {
      min-width: 100%;
    }

    .heroSection__col--textWrapper, .section__col--textWrapper {
      padding-bottom: 60px;
    }
  }
}

@media only screen and (max-width: 590px) {
  .heroSection .heroSection__row .heroSection__imgWrapper,
  .section .section__row .section__imgWrapper {
    max-width: 100%;
  }

  .header--container .header__right .header__menuIcon--bars {
    right: -10rem;
  }
}

@media only screen and (max-width: 400px) {
  .header--container .header__right .header__menuIcon--bars {
    right: -6rem;
  }
}
