.parallax {
  height: 70vh;

  &__inner {
    @include flexBox(column, flex-start, flex-start);
  }

  h1#logoText {
    font-weight: 800;
    color: $c-white;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
    font-size: 2rem;
    padding: $s-secondaryXS 22px;

    text-transform: uppercase;
    text-shadow: 1px 1px 1px #6854cc, 1px 2px 1px #6854cc, 1px 3px 1px #6854cc,
      1px 4px 1px #6854cc, 1px 5px 1px #6854cc;
    letter-spacing: 2px;

    strong {
      color: $c-astral;
    }
  }

  p {
    color: #fafafa;
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 100%;
    padding: 0 22px;
  }

  div:first-of-type {
    height: 100%;
    width: 100%;
  }
  img {
    @extend %fullSize;
  }
}

@media only screen and (min-width: $b-xlScreen) {
  .parallax .parallax__inner p {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: $b-ipadMini) {
  .parallax {
    display: none;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .parallax {
    display: none;
  }
}
