.pricing {
  padding: $s-largeXS 0 160px;
  @include flexBox(column, center, center);
  background: #fafafa;
  width: 100%;

  &__container--card {
    width: 270px;
    height: 500px;
    background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
    box-shadow: 0 $s-primaryXS $s-secondaryXS rgba(56, 125, 255, 0.2);
    text-decoration: none;
    border-radius: 4px;
    @include flexBox(column, center, center);
    margin: $s-secondaryM;

    &:hover {
      transform: scale(1.06);
      transition: all 0.3s ease-out;
      color: #1c2237;
    }
  }

  &__container--cardInfo {
    width: 100%;
    background: inherit;
    height: 500px;
    @include flexBox(column, center, center);
    text-align: center;
    box-shadow: 0 $s-primaryXS $s-secondaryXS rgba(56, 125, 255, 0.2);

    button {
      width: 70%;
    }

    h3 {
      font-size: 1.5rem;
      color: #fafafa;
    }

    h4 {
      color: #fafafa;
      font-size: 2.4rem;
    }

    p {
      color: #fafafa;
      font-size: 1rem;
    }

    .pricing__container--features {
      margin: $s-primaryXL $s-primaryM;

      li {
        font-size: 1.3rem;
        padding: $s-primaryXS;
        font-weight: 100;
        color: #fafafa;
      }
    }
  }

  &__container {
    @include flexBox(row, center, center);
  }

  &__container--card:nth-child(2) .pricing__container--cardInfo {
    transform: scale(1.05);
    margin: 0 24px;
    background: #1c2237;
  }

  &__heading {
    color: #1c2237;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: $b-xsScreen) {
  .pricing__container {
    flex-direction: column;
    width: 100%;

    .pricing__container--card {
      width: 90%;

      .pricing__container--cardInfo {
        width: 100%;
      }
    }
  }
}
